*.elc
/auto-save-list
/ido.last
/smex-items
/tramp
/straight/*
!/straight/versions/
!/straight/.gitkeep
/init/10-theme-settings.el
/init/30-basics.el
/init/71-tex-mode.el
/elpa
/eshell
/transient
/elpy
/eln-cache
